<section class="flex-row ">
    <!-- Purple -->
    <div class="card purple-card flex-row">
        <span class="material-icons icon">
            whatshot
        </span>
        <div class="card-info flex-column justify-content-c">
            <p class="font-16">$129.00</p>
            <p class="tag font-14">Sketch App</p>
        </div>
    </div>


    <!-- White -->
    <div class="card white-card flex-row">
        <span class="material-icons icon">
            today
        </span>
        <div class="card-info flex-column justify-content-c">
            <p class="font-16">$24.89</p>
            <p class="tag font-14">August</p>
        </div>
    </div>
</section>
